$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;


$success: #75c100;
$white: #e3e8e2;

.container {
    padding-bottom: 30px;
  }
  

.principal {
    box-shadow: 0px 0px 10px #000f;
}
.rounded-circle {
    border-radius: 50% !important;
}
.btn-rounded {
    border-radius: 30px !important;
}
nav {
    z-index: 100;
  }
  
  .styles{
    margin-top: 60px;
  }
  
  .principal {
    box-shadow: 0px 0px 10px black;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .btn-rounded {
    border-radius: 30px !important;
  }
  
  .card:hover {
    background-color: #75c100;
  }
  
  .img-container {
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    background-color: var(--bs-light);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.35);
  }
  
  .img-container-sub-banner {
    transform: rotate(-55deg);
    width: 110vh;
    z-index: 1;
    position: relative;
    left: 44%;
    top: -150vh;
  }
  
  .img-container-sub-banner img {
    border-radius: 50px;
  }
  
  .green-shadow {
    box-shadow: -10px 10px 19px -10px rgba(0,0,0,0.75);
    transform: rotate(-55deg);
    background-color: #75c100;
    position: relative;
    border-radius: 50px;
    width: 110vh;
    height: 61vh;
    margin-top: 10vh;
    z-index: 1;
    left: 44.5%;
    top: -85vh;
  }
  
  .img-container-sub {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
  }
  
  .img-container img {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .container-options {
    padding: 6px;
    border-radius: 3px;
    background-color: #262626;
  }
  
  .container-options svg{
    margin: 0 10px 0 10px;
    cursor: pointer;
  }
  
  .subtext{
    text-align: center;
    display: flex;
  }
  
  .container .subtitle-banner {
    text-align: left;
    position: relative;
    right: 25vh;
  }
  
  header > .container {
    position: relative;
    top: 8vh;
    height: 1vh;
  }
  
  .title-banner{
    font-weight: bold;
  }
  
  .background-banner{
    position: absolute;
    top: -10vh;
    width: 100%;
    height: 83.5vh;
    opacity: 5%;
  }
  
  .bg-height-limit{
    height: 73vh;
  }
  
  .sct-height{
    padding: 10vh 0 10vh 0;
  }
  
  .container > .sct-limit{
    margin-left: 10vh;
    margin-right: 10vh;
  }
  
  .img-fifth-section img {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    width: 100%;
    border-radius: 20px;
  }
  
  .img-third-section img {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    width: 80%;
    border-radius: 20px;
  }
  
  .py-8 > .container > .row > .button-section:nth-child(1){
    margin-left: 50px;
  }
  
  .card-shadow{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
  }

@import"../node_modules/bootstrap/scss/bootstrap";